:root {
  --red: #e84118;
  --orange: #ef7a1d;
  --yellow: #fed330;
  --green: #26de81;
  --blue: #3498db;
  --dark-blue: #5865F2;
  --purple: #a55eea;
  --gray: #888888;
}

html,
body {
  height: 100%;
  overflow: overlay;
  /*overflow-y: scroll;*/
  /*scrollbar-gutter: stable both-edges;*/
  font-family: "Montserrat", sans-serif;
  background-color: #222;
  color: white;
  scroll-padding-top: calc(4rem + .3125rem + .5rem + 15px);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #aaaaaa #222222;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 10px;
  border: 3px solid #222222;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #717171;
}

#page-content {
  flex: 1 0 auto;
  margin-top: 5.6484375rem; /* Navbar height */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: var(--blue);
  transition: color 0.2s;
}

p {
  font-family: var(--bs-font-sans-serif);
}

p.lead {
  font-weight: 350;
  color: #999;
}

p a {
  color: inherit;
  text-decoration: underline;
  transition: 0.2s ease;
}

footer.bg-dark {
  background-color: #303030 !important;
  margin-top: 2rem;
  z-index: 1030;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  color: var(--blue);
}

.alert code {
  color: revert;
}

hr {
  border-color: rgba(255,255,255,0.1);
}

.modal {
  color: #212529;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: -webkit-center;
}


/* CENTERED BUTTONS */

.buttons {
  display: inline-grid;
}

div.button {
  display: inline-flex;
  border-radius: 15px;
  overflow: hidden;
  width: min(20rem, 75vw);
  margin: 13px 0;
}

.buttons a {
  color: inherit;
  text-decoration: inherit;
}

.button-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 62px; /* Same as height (13px + 36px + 13px) */
  height: inherit;
  font-size: 36px;
  color: #222;
}

.button-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(min(20rem, 75vw) - 56px);
  height: inherit;
  padding: 13px 0;
  border-radius: 15px;
  background: #222;
  font-size: 24px;
  font-weight: bolder;
  transition: 0.5s ease;
}

.button-text:hover {
  color: #222;
}

.button.red { background: var(--red);  box-shadow: 0 0 0 3px var(--red); }
.button.red .button-text:hover { background: var(--red); }
.button.orange { background: var(--orange);  box-shadow: 0 0 0 3px var(--orange); }
.button.orange .button-text:hover { background: var(--orange); }
.button.yellow { background: var(--yellow);  box-shadow: 0 0 0 3px var(--yellow); }
.button.yellow .button-text:hover { background: var(--yellow); }
.button.green { background: var(--green);  box-shadow: 0 0 0 3px var(--green); }
.button.green .button-text:hover { background: var(--green); }
.button.blue { background: var(--blue);  box-shadow: 0 0 0 3px var(--blue); }
.button.blue .button-text:hover { background: var(--blue); }
.button.purple { background: var(--purple);  box-shadow: 0 0 0 3px var(--purple); }
.button.purple .button-text:hover { background: var(--purple); }
.button.gray { background: var(--gray);  box-shadow: 0 0 0 3px var(--gray); }
.button.gray .button-text:hover { background: var(--gray); }

.button.dark-blue { background: var(--dark-blue);  box-shadow: 0 0 0 3px var(--dark-blue); }
.button.dark-blue .button-text:hover { background: var(--dark-blue); }

p.button {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
}

p.button i {
  font-size: 36px;
  transform: translate(-15px, 7px);
}

/* NAVBAR */

.navbar {
  background-color: #303030 !important;
}

.nav-link {
  font-weight: bold !important;
  border: white 3px solid;
  border-radius: 12px;
  padding: 10px 20px !important;
  margin: 10px;
  transition: 0.3s ease;
  text-align: center;
  color: white !important;
}

.nav-link:hover {
  background-color: white;
  color: #303030 !important;
}

.nav-link.active {
  border-color: var(--blue);
}
.nav-link.active:hover {
  background-color: var(--blue);
}

.nav-link.gray {
  border-color: var(--gray);
  color: #a7a7a7 !important;
}
.nav-link.gray:hover {
  background-color: var(--gray);
  color: #303030 !important;
}

/* INDEX PAGE */

img.index-page {
  border: white 0.6ch solid;
  border-radius: 3ch;
  padding: 2ch 4ch;
  width: 35ch;
}

.index-page code {
  font-size: inherit;
}

/* PROJECT CARDS */

.card {
  overflow: hidden;
  background-color: #303030;
  border: #303030 5px solid;
  border-radius: 25px;
  transition: 0.25s;
  margin: 20px 0;
}

.card:hover {
  border-color: #777;
  transform: scale(1.01);
}

.card-body {
  background-color: #303030;
  padding-left: var(--bs-gutter-x);
  padding-bottom: 10px;
}

.card-title a {
  color: var(--blue);
  text-decoration: none;
}

.card-title a:hover {
  text-decoration: underline;
}

.card-text {
  font-family: "Montserrat", sans-serif;
}

.card-center .card-text {
  padding-bottom: 10px;
}

.card-footer {
  position: relative;
  width: 100vw;
  padding-left: var(--bs-gutter-x);
  padding-bottom: calc(.5rem - 5px);
  background-color: rgba(0,0,0,.05);
}

.card img {
  transition: filter 0.5s ease;
}

.card img:hover {
  filter: brightness(1.2);
}

.card-horizontal .col-sm-9 {
  padding-left: 0;
}

.table-container {
  height: 100%;
  border-collapse: collapse;
}


/* BLOG */

.tags {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.padding-top {
  margin-top: 10px;
}

.tag {
  width: fit-content;
  border-radius: 100rem;
  padding: 0.3rem 0.8rem;
  margin-right: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

.tag-editing, .tag-ctf, .tag-web, .tag-sqli, .tag-filter, .tag-forensics {
  background-color: #27ae60;
}
.tag-utility, .tag-hacking, .tag-reversing, .tag-binary, .tag-rce {
  background-color: #e84118;
}
.tag-coding, .tag-scripting, .tag-xss, .tag-ssrf {
  background-color: var(--blue);
}
.tag-encoding, .tag-crypto, .tag-xxe, .tag-lfi, .tag-misc {
  background-color: #f39c12;
}

.tag-add {
  cursor: pointer;
  background-color: #222222;
  color: #808080;
  width: calc(5ch + 1.5rem);
  border: 1px solid #606060;
  transition: 0.25s ease;
}
.tag-add:hover {
  background-color: #282828;
}
.tag-add::-webkit-calendar-picker-indicator {
  display: none !important;
}

.tag-delete {
  cursor: pointer;
  font-size: 1rem;
  transform: translate(0.3rem, 0.1rem);
  color: #303030;
  opacity: 60%;
}
.tag-delete:hover {
  color: #363636;
}

.col {
  padding-bottom: 30px;
  margin-top: 0;
}

.col-sm-4 {
  max-width: 28%;
}

a.folder {
  position: relative;
  top: 0;
  text-decoration: none;
  padding: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  line-height: 5;
  border: 2px solid #404040;
  border-radius: 5px;
  transition: 0.25s;
}

a.folder:hover {
  top: -5px;
  background-color: #404040;
}

a.folder i {
  font-size: 1.5rem;
color: var(--blue);
  transform: translate(0, 15%);
  margin-right: 10px;
}

.code-block {
  margin-bottom: 1rem;
  background-color: #222;
  border: 2px solid #303030;
  border-radius: 10px;
  overflow: hidden;
}

.code-block p {
  margin: 0.5em 1em;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: rgba(255,255,255,0.5);
}

.code-block .copy {
  text-decoration: none;
  float: right;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}

.code-block pre {
  margin: 0;
}

.breadcrumb {
  background: none;
  padding-left: 0;
  margin-bottom: 0 !important;
}

.breadcrumb-item {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
}

.breadcrumb-item a {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  position: relative;
  bottom: 1px;
  transition: 0.25s;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
  color: white;
}

.breadcrumb-item h1 {
  position: relative;
}

.btn {
  margin: 0 5px;
}

/* OTHER */

.form-control {
  background-color: #222 !important;
  border: 1px solid #404040;
  color: rgba(255, 255, 255, 0.8) !important;
}

.form-check-input[type=checkbox]:not(:checked) {
  background-color: #222;
  border-color: #404040;
}

.box {
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 5px;
  display: inline-block;
  padding: 20px 50px;
  transition: border-color 0.25s ease;
}

.blog-content code:not(pre code) {
  padding: 2px 4px;
  color: #e7e8eb;
  background-color: #383838;
  border-radius: 3px;
}

.blog-content img {
  display: block;
  max-width: calc(min(50ch, 100%));
  margin: 2rem 0;
  cursor: pointer;
  border: 2px solid #303030;
  border-radius: 10px;
}

.pagination {
  margin-top: 2rem;
}
.pagination .left {
  flex: 1;
  align-self: center;
  text-align: left;
}
.pagination .center {
  flex: 2;
  text-align: center;
}
.pagination .right {
  flex: 1;
  align-self: center;
  text-align: right;
}
.pagination .center p {
  margin: 0;
}

.modal-header {
  padding: 0.5rem 1rem;
}

.modal-body {
  padding: 0;
  border-radius: 0 0 .2rem .2rem;
  overflow: hidden;
}

.grecaptcha-badge {
  z-index: 9001;
}

#particles-js {
  z-index: -1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
